.login-form, .forgot-form{
	width:30rem
}

@font-face {
	src: url('../fonts/campton/Campton-LightDEMO.OTF');
	font-family: campton-light;
}
@font-face {
	src: url('../fonts/campton/Campton-BoldDEMO.OTF');
	font-family: campton-bold;
}
.capmton-light{
	font-family: campton-light;
}
.campton-bold{
	font-family: campton-bold;
}